{% extends 'base.html' %}
{% block title %}
    <title>商城详情页</title>
    <link href="/public/css/uc.css" rel="stylesheet"/>

<link rel="stylesheet" href="/public/js/icheck/style.css"/>
<script src="/public/js/icheck/icheck.min.js"></script>
<script src="/public/js/laydate/laydate.js"></script>
{% endblock %}
{% block body %}
    <div class="uc-header-bg">
        <div class="uc-header wrapper">
            <a class="logo" href="/"><img src="/public/img/logo2.png" alt="" /></a>
            <div class="back-home"><a href="/">返回首页</a></div>
            <ul class="uc-nav">
                <li><a href="/shop/uc">首页</a></li>
                <li class="toggle">
                    <span class="label">账户设置<i class="iconfont"></i></span>
                    <div class="toggle-cont">
                        <!--<a href="">个人信息</a>-->
                        <a href="/shop/uc/safe">安全设置</a>
                    </div>
                </li>
                <!--<li><a href="">消息中心</a></li>-->
            </ul>
        </div>
    </div>

    <div class="wrapper uc-router">
        <ul>
            <li><a href="/shop/uc">首页</a></li>
            <li><span class="divider"></span></li>
            <li><span>个人中心</span></li>
        </ul>
    </div>

    <div class="wrapper">
        <div class="uc-main clearfix">
            <div class="uc-aside">
                <div class="uc-menu">
                    <div class="tit">个人中心</div>
                    <ul class="sublist">
                        <!--<li><a href="uc-account.html">账户信息</a></li>-->
                        <li><a href="/shop/uc/safe">账户安全</a></li>
                        <li><a href="/shop/order">我的订单</a></li>
                    </ul>
                </div>
            </div>
            <div class="uc-content">
                <div class="uc-panel account-panel">
                    <div class="user-info">
                        <a href=""><img class="headpic" src="/public/uploads/4.jpg" alt="头像" /></a>
                        <div class="info">
                            <div><span class="name">{{username}}</span><span class="wel">下午好</span></div>
                            <a href="" class="label">普通会员</a>
                            <!--<a href="" class="edit">修改个人信息></a>-->
                        </div>
                    </div>
                   <!-- <div class="quick-menu">
                        <div class="item">
                            <a href=""><img class="ico" src="/public/img/ico/uc-aq.png"/>账户安全：较高</a>
                        </div>
                    </div>-->
                </div>

                <div class="uc-panel home-order">
                    <div class="col">
                        <img src="/public/img/ico/uc-order1.png" class="ico" />
                        <div class="bd">
                            <div class="tit">待支付的订单：<span class="num">1</span></div>
                            <a class="more" href="">查看待支付订单></a>
                        </div>
                    </div>
                    <!--<div class="col">
                        <img src="/public/img/ico/uc-order4.png" class="ico" />
                        <div class="bd">
                            <div class="tit">待评价的订单：<span class="num">1</span></div>
                            <a class="more" href="">查看待支付订单></a>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <!--脚部-->
    <div class="fatfooter">

    </div>
    <!--脚部-->
{% endblock %}
{% block footer %}
{% endblock %}
