{% extends 'base_red.html' %}
{% block title %}
    <title>{{page_title}}-首页</title>
    <link rel="stylesheet" type="text/css" href="/public/red/rs-plugin/css/settings.css" media="screen" />
{% endblock %}

{% block body %}
<div class="bannercontainer rev-slider-wrapper clearfix container_12">
    <div class="rev-banner">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="/public/red/images/revslider/slide2.jpg">
                <img src="/public/red/images/revslider/slide2.jpg" >
                <div class="caption large_text sft"
                     data-x="50"
                     data-y="44"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo"  >OLYMPIA</div>

                <div class="caption medium_text sfl"
                     data-x="50"
                     data-y="82"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">THEME</div>

                <div class="caption large_text sfr"
                     data-x="128"
                     data-y="78"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo" ><span style="color: #ffc600;">RETAIL</span></div>

                <div class="caption lfl"
                     data-x="150"
                     data-y="192"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutExpo"  ><img src="/public/red/images/revslider/olympia-pc.png" alt="Image 4"></div>

                <div class="caption lfl"
                     data-x="80"
                     data-y="250"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo"  ><img src="/public/red/images/revslider/olympia-ipad.png" alt="Image 5"></div>

                <div class="caption lfl"
                     data-x="75"
                     data-y="313"
                     data-speed="300"
                     data-start="1600"
                     data-easing="easeOutExpo"  ><img src="/public/red/images/revslider/olympia-iphone.png" alt="Image 6"></div>

                <div class="caption lfr"
                     data-x="630"
                     data-y="50"
                     data-speed="950"
                     data-start="1500"
                     data-easing="easeOutBounce"  ><img src="/public/red/images/revslider/clean-design.png" alt="Image 5"></div>

                <div class="caption lfr"
                     data-x="630"
                     data-y="200"
                     data-speed="950"
                     data-start="1700"
                     data-easing="easeOutBounce"  ><img src="/public/red/images/revslider/code.png" alt="Image 5"></div>

                <div class="caption lfr"
                     data-x="630"
                     data-y="350"
                     data-speed="950"
                     data-start="1900"
                     data-easing="easeOutBounce"  ><img src="/public/red/images/revslider/templates.png" alt="Image 5"></div>
            </li>
            <!-- THE SECOUND SLIDE -->
            <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="/public/red/images/thumbs/thumb6.jpg">
                <img src="/public/red/images/revslider/slide3.jpg" >

                <div class="caption large_text sfl"
                     data-x="38"
                     data-y="200"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo">Dynamic</div>

                <div class="caption large_text sfl"
                     data-x="37"
                     data-y="243"
                     data-speed="300"
                     data-start="1300"
                     data-easing="easeOutExpo">Call To</div>

                <div class="caption large_text sfr"
                     data-x="160"
                     data-y="243"
                     data-speed="300"
                     data-start="1300"
                     data-easing="easeOutExpo"><span style="color: #ffc600;">Action</span></div>

                <div class="caption randomrotate"
                     data-x="50"
                     data-y="350"
                     data-speed="800"
                     data-start="1600"
                     data-easing="easeOutExpo"><a href="http://themeforest.net/item/olympia-responsive-html5-ecommerce/4852725?ref=speed730"><img src="/public/red/images/revslider/red-shope-now.png" alt="Image 4"></a></div>
            </li>
            <!-- THE THIRD SLIDE -->
            <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="themeforest.net/user/Speed730?ref=speed730" data-target="_blank" data-delay="9400" data-thumb="/public/red/images/thumbs/thumb2.jpg">
                <img src="/public/red/images/revslider/slide21.jpg" >
                <div class="caption very_big_white lfl stl"
                     data-x="18"
                     data-y="293"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" >OLYMPIA THEME</div>

                <div class="caption lfl stl"
                     data-x="640"
                     data-y="300"
                     data-speed="400"
                     data-start="1100"
                     data-easing="easeOutExpo">
                    <img src="/public/red/images/revslider/included.png" alt="Image 3">
                </div>

                <div class="caption randomrotate"
                     data-x="450"
                     data-y="250"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">
                    <img src="/public/red/images/revslider/rev-slider-logo.png" alt="Image 3">
                </div>
            </li>
        </ul>
    </div>
</div><!-- end .bannercontainer -->
    <div id="main-container" class="homepage">
    <span class="shadow"></span>
      <div class="container_12 full-container floatted-banners">
        <div class="floatted-top-banners">
            {% for goods in shopRecommendGoods %}
          <div class="banner grid_4">
            <span class="custom-ribbon left-ribbon" style="background-image:url('/public/red/images/custom-ribbon1.png')"></span>
            <span class="cover"></span>
            <img src="{{goods.imgurl}}" alt="banner" style="width: 280px;height: 140px;">
            <a href="/shop/goods/{{goods.goodsID}}" title="查看详情" class="icomoon link-icon" aria-hidden="true" data-icon="&#xe000;"></a>
          </div>
            {% endfor %}
        </div><!-- end .floatted-top-banners -->
        <hr class="separator">
        <div class="featured-module module clearfix">
          <div class="box-heading"><h3>主题</h3></div>
            <div class="slides">
                {% for goods in shopGoodsT %}
                <div class="product-box grid_3">
                    <span {% if isNew(goods.upAt) %}class="ribbon-new" {% endif %}></span>
                    <a class="img-cover" href="/shop/goods/{{goods.goodsID}}">
                        <div style="height: 180px;">
                            <img src="{{goods.imgurl}}" alt="product-image">
                        </div>
                    </a>
                    <div class="product-meta">
                    <div class="title"><a href="/shop/goods/{{goods.goodsID}}">{{goods.title}}</a></div>
                    <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                    <div class="price">
                        <span class="old-price">￥{{goods.priceMarket}}</span>
                        <span class="new-price">￥{{goods.price}}</span>
                    </div>
                    </div><!-- product-meta -->
                <ul class="product-action">
                    <li>
                        <div class="tooltip-wrapper">
                            <span class="tooltip">收藏</span>
                        </div>
                        <a href="javascript:void(0)" onclick="addWishList('{{goods.goodsID}}')" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                    </li>
                    <li>
                        <div class="tooltip-wrapper">
                            <span class="tooltip">加入购物车</span>
                        </div>
                        <a href="javascript:void(0)" onclick="addCart('{{goods.goodsID}}','1','{{goods.price}}')" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>
                    </li>
                </ul>
                </div><!-- .product-box -->
                {% endfor %}
        </div><!-- end .slides -->
      </div><!-- .featured-module -->
          <hr class="block-separator">
          <div class="home-baner"><span>No Zuo No Die,Just To Try!</span></div>
          <div class="floatted-box">
              <div class="box-heading"><h3>组件</h3></div>
              <div class="offers-box container_12">
                  <span class="blur-cover-left"></span>
                  <span class="blur-cover-right"></span>
                  <div class="flexslider">
                      <ul class="slides">
                          {% for goods in shopGoodsC %}
                          <li>

                              <div class="tooltip-cover">
                                  <div class="tooltip">
                                      <span class="title">{{goods.title}}</span>
                                      <div class="price"><span class="old-price">￥{{goods.priceMarket}}</span><span class="new-price">￥{{goods.price}}</span></div>
                                  </div>
                              </div>
                              <a class="cover" href="/shop/goods/{{goods.goodsID}}"></a>
                              <a href="javascript:void(0)" onclick="addWishList('{{goods.goodsID}}')"  title="收藏" class="icomoon my-heart" aria-hidden="true" data-icon="&#xe00d;"></a>
                              <a class="icomoon my-eye" title="加入购物车" aria-hidden="true" data-icon="&#x25e0;" href="javascript:void(0)" onclick="addCart('{{goods.goodsID}}','1','{{goods.price}}')"></a>
                              <!--<a href="javascript:void(0)" class="icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a>-->
                              <img src="{{goods.imgurl}}" alt="product-thumb" style="max-height: 170px;"/>

                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
          </div><!-- end .floatted-box -->
      <hr class="block-separator">
      </div><!-- end .container_12 -->
    </div><!-- end #main-container -->
<script>

</script>
{% endblock %}