{% extends 'base_red.html' %}
{% block title %}
<title>{{page_title}}-支付</title>
<style>
    .tip{
        font-size: 14px;
        color: #333;
        margin-top: 50px;
    }
</style>
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
    <div id="main-container"  class="no-header-top">
      <div class="page-top-leader omega">
        <div class="container_12 relatived clearfix">
          <h1 class="page-title">订单支付</h1>
          <div class="breadcrumb">
              <span class="br_before">当前位置:</span>
              <a href="/">首页</a>
              <span class="br_sep">/</span>
              <span class="cur_link">订单支付</span>
          </div>
        </div>
      </div><!-- .page-top-leader --> 
      <div class="container_12 full-container">
          <div class="ui-page-notice" style="padding-bottom: 50px;">
              <div class="section">
                  <div class="">
                      <div class="tit">订单编号：{{order.billNo}}，应支付：{{order.payableAmount}}元</div>
                      <div class="tit">请使用支付宝扫描下面的二维码进行转账，<span style="color: red;">请注意转账说明填写支付编号<span style="font-weight: bold;font-size: 24px;">【{{order.payCode}}】</span>，否则转账无法关联订单，转账不支持退款!!!</span></div>
                      <div>
                          <a href="javascript:void(0)" onclick="confirmPay()" class="style-button right" style="margin-top: 330px;">转账完成后戳我【已支付】</a>
                      </div>
                      <div class="tip">*平台正处于初创期，暂时使用支付宝转账，给您带来不便尽请谅解，后期我们会接入支付宝即时到账、微信支付、银联支付等支付方式。若转账遇到困难，请与我们联系。 </div>
                  </div>
              </div>
          </div>
    <hr class="separator">
      </div><!-- end .container_12 -->
    </div><!-- end #main-container -->
<script>
    function confirmPay() {
        Ap.msg.confirm("您确认已正确填写支付编号【{{order.payCode}}】并转账成功了吗？",function (vue) {
            if(vue){
                Ap.loading.start("正在拼命查询转账信息，请稍等...");
                Ap.request.get("/shop/confirmPay/{{order.billNo}}",{},function (res) {
                    Ap.loading.end();
                    if(res.success){
                        window.location="/shop/orderDetail/{{order.billNo}}";
                    }else
                        Ap.msg.error(res.msg);
                });
            }
        });
    }
</script>
{% endblock %}