{% extends 'base_red.html' %}
{% block title %}
<title>天启皮肤商城-首页</title>
<link rel="stylesheet" type="text/css" href="/public/red/rs-plugin/css/settings.css" media="screen" />
{% endblock %}

{% block body %}
    <div class="bannercontainer rev-slider-wrapper clearfix container_12">    
      <div class="rev-banner">
          <ul>
              <!-- THE FIRST SLIDE -->              
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="/public/red/images/revslider/slide2.jpg">
                  <img src="/public/red/images/revslider/slide2.jpg" >                  
                  <div class="caption large_text sft"
                     data-x="50"
                     data-y="44"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo"  >OLYMPIA</div>

                  <div class="caption medium_text sfl"
                     data-x="50"
                     data-y="82"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">THEME</div>

                  <div class="caption large_text sfr"
                     data-x="128"
                     data-y="78"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo" ><span style="color: #ffc600;">RETAIL</span></div>

                  <div class="caption lfl"
                     data-x="150"
                     data-y="192"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutExpo"  ><img src="/public/red/images/revslider/olympia-pc.png" alt="Image 4"></div>

                  <div class="caption lfl"
                     data-x="80"
                     data-y="250"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo"  ><img src="/public/red/images/revslider/olympia-ipad.png" alt="Image 5"></div>

                  <div class="caption lfl"
                     data-x="75"
                     data-y="313"
                     data-speed="300"
                     data-start="1600"
                     data-easing="easeOutExpo"  ><img src="/public/red/images/revslider/olympia-iphone.png" alt="Image 6"></div>

                     <div class="caption lfr"
                     data-x="630"
                     data-y="50"
                     data-speed="950"
                     data-start="1500"
                     data-easing="easeOutBounce"  ><img src="/public/red/images/revslider/clean-design.png" alt="Image 5"></div>

                     <div class="caption lfr"
                     data-x="630"
                     data-y="200"
                     data-speed="950"
                     data-start="1700"
                     data-easing="easeOutBounce"  ><img src="/public/red/images/revslider/code.png" alt="Image 5"></div>

                     <div class="caption lfr"
                     data-x="630"
                     data-y="350"
                     data-speed="950"
                     data-start="1900"
                     data-easing="easeOutBounce"  ><img src="/public/red/images/revslider/templates.png" alt="Image 5"></div>
              </li> 
              <!-- THE SECOUND SLIDE -->
              <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="/public/red/images/thumbs/thumb6.jpg">
                  <img src="/public/red/images/revslider/slide3.jpg" >

                  <div class="caption large_text sfl"
                     data-x="38"
                     data-y="200"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo">Dynamic</div>

                  <div class="caption large_text sfl"
                     data-x="37"
                     data-y="243"
                     data-speed="300"
                     data-start="1300"
                     data-easing="easeOutExpo">Call To</div>

                   <div class="caption large_text sfr"
                     data-x="160"
                     data-y="243"
                     data-speed="300"
                     data-start="1300"
                     data-easing="easeOutExpo"><span style="color: #ffc600;">Action</span></div>

                  <div class="caption randomrotate"
                     data-x="50"
                     data-y="350"
                     data-speed="800"
                     data-start="1600"
                     data-easing="easeOutExpo"><a href="http://themeforest.net/item/olympia-responsive-html5-ecommerce/4852725?ref=speed730"><img src="/public/red/images/revslider/red-shope-now.png" alt="Image 4"></a></div>
              </li>
              <!-- THE THIRD SLIDE -->
              <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="themeforest.net/user/Speed730?ref=speed730" data-target="_blank" data-delay="9400" data-thumb="/public/red/images/thumbs/thumb2.jpg">
                    <img src="/public/red/images/revslider/slide21.jpg" >
                    <div class="caption very_big_white lfl stl"
                       data-x="18"
                       data-y="293"
                       data-speed="300"
                       data-start="1100"
                       data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" >OLYMPIA THEME</div>

                     <div class="caption lfl stl"
                       data-x="640"
                       data-y="300"
                       data-speed="400"
                       data-start="1100"
                       data-easing="easeOutExpo">
                       <img src="/public/red/images/revslider/included.png" alt="Image 3">
                     </div>

                     <div class="caption randomrotate"
                       data-x="450"
                       data-y="250"
                       data-speed="300"
                       data-start="1100"
                       data-easing="easeOutExpo">
                       <img src="/public/red/images/revslider/rev-slider-logo.png" alt="Image 3">
                     </div>               
                    </li>
            </ul>
      </div>
    </div><!-- end .bannercontainer -->
    <div id="main-container" class="homepage">
      <div class="floatted-box">      
        <div class="offers-box container_12">     
          <span class="blur-cover-left"></span>
          <span class="blur-cover-right"></span>
            <div class="flexslider">
              <ul class="slides">
                <li><div class="tooltip-cover"><div class="tooltip"><span class="title">Orange Handbag</span><div class="price"><span class="old-price">$80.55</span><span class="new-price">$65.55</span></div></div></div><span class="cover"></span><a href="#" class="icomoon heart" aria-hidden="true" data-icon="&#xe00d;"></a><a class="icomoon eye" rel="prettyPopin" aria-hidden="true" data-icon="&#x25c7;" href="quick-view-template.php"></a><a href="product-fullwidth.html" class="  icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a><img src="/public/red/images//public/red/images/qview/1.jpg" alt="product-thumb"/></li>
                <li><div class="tooltip-cover"><div class="tooltip"><span class="title">Sliver Watch</span><div class="price"><span class="reguler-price">$149.99</span></div></div></div><span class="cover"></span><a href="#" class="icomoon heart" aria-hidden="true" data-icon="&#xe00d;"></a><a class="icomoon eye" rel="prettyPopin" aria-hidden="true" data-icon="&#x25c7;" href="quick-view-template.php"></a><a href="product-fullwidth.html" class="icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a><img src="/public/red/images//public/red/images/qview/1.jpg" alt="product-thumb"/></li>
                <li><div class="tooltip-cover"><div class="tooltip"><span class="title">Yellow Mini Car</span><div class="price"><span class="reguler-price">$19.65</span></div></div></div><span class="cover"></span><a href="#" class="icomoon heart" aria-hidden="true" data-icon="&#xe00d;"></a><a class="icomoon eye" rel="prettyPopin" aria-hidden="true" data-icon="&#x25c7;" href="quick-view-template.php"></a><a href="product-fullwidth.html" class="icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a><img src="/public/red/images//public/red/images/qview/1.jpg" alt="product-thumb"/></li>
                <li><div class="tooltip-cover"><div class="tooltip"><span class="title">Red Handbag</span><div class="price"><span class="reguler-price">$80.55</span></div></div></div><span class="cover"></span><a href="#" class="icomoon heart" aria-hidden="true" data-icon="&#xe00d;"></a><a class="icomoon eye" rel="prettyPopin" aria-hidden="true" data-icon="&#x25c7;" href="quick-view-template.php"></a><a href="product-fullwidth.html" class="icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a><img src="/public/red/images//public/red/images/qview/1.jpg" alt="product-thumb"/></li>
                <li><div class="tooltip-cover"><div class="tooltip"><span class="title">T-Shirt</span><div class="price"><span class="old-price">$75.75</span><span class="new-price">$50.99</span></div></div></div><span class="cover"></span><a href="#" class="icomoon heart" aria-hidden="true" data-icon="&#xe00d;"></a><a class="icomoon eye" rel="prettyPopin" aria-hidden="true" data-icon="&#x25c7;" href="quick-view-template.php"></a><a href="product-fullwidth.html" class="icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a><img src="/public/red/images//public/red/images/qview/1.jpg" alt="product-thumb"/></li>                
                <li><div class="tooltip-cover"><div class="tooltip"><span class="title">Black Hells</span><div class="price"><span class="reguler-price">$24.99</span></div></div></div><span class="cover"></span><a href="#" class="icomoon heart" aria-hidden="true" data-icon="&#xe00d;"></a><a class="icomoon eye" rel="prettyPopin" aria-hidden="true" data-icon="&#x25c7;" href="quick-view-template.php"></a><a href="product-fullwidth.html" class="icomoon plus" aria-hidden="true" data-icon="&#xe01a;"></a><img src="/public/red/images//public/red/images/qview/1.jpg" alt="product-thumb"/></li>
              </ul>
            </div>
        </div>      
      </div><!-- end .floatted-box -->
      <div class="container_12 full-container">
        <div class="featured-module module clearfix">
          <div class="box-heading"><h3>Featured</h3></div>
            <div class="slides">
              <div class="product-box grid_3">
              <span class="ribbon-sale"></span>
              <a class="img-cover" href="product-sidebar.html">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="#">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
            <div class="product-box grid_3">
              <span class="ribbon-new"></span>
              <a class="img-cover" href="product-sidebar.html">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="product-sidebar.html">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
            <div class="product-box grid_3">              
              <a class="img-cover" href="product-sidebar.html">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="#">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
            <div class="product-box grid_3">              
              <a class="img-cover" href="product-fullwidth.html">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="#">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
            <div class="product-box grid_3">
              <span class="ribbon-new"></span>
              <span class="ribbon-sale"></span>
              <a class="img-cover" href="#">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="#">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
            <div class="product-box grid_3">
              <span class="ribbon-sale"></span>
              <a class="img-cover" href="#">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="#">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
            <div class="product-box grid_3">
              <span class="ribbon-sale"></span>
              <a class="img-cover" href="#">
                <img src="/public/red/images/images/product-grid.jpg" alt="product-image">
              </a>
              <div class="product-meta">
                <div class="title"><a href="#">Product Name</a></div>
                <img src="/public/red/images/stars-5.png" alt="5-stars-ratting">
                <div class="price">
                  <span class="old-price">$589.50</span>
                  <span class="new-price">$250.50</span>                      
                </div>
              </div><!-- product-meta -->
              <ul class="product-action">
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Compare</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe01c;"></a>                    
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Wishlist</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#xe00d;"></a>
                </li>
                <li>
                  <div class="tooltip-wrapper">
                    <span class="tooltip">Add To Cart</span>
                  </div>
                  <a href="#" class="icomoon" aria-hidden="true" data-icon="&#x25e0;"></a>                    
                </li>
              </ul>
            </div><!-- .product-box -->
        </div><!-- end .slides -->
      </div><!-- .featured-module -->      
      <hr class="block-separator">
      <a href="http://themeforest.net/item/olympia-responsive-html5-ecommerce/4852725"><img src="/public/red/images/banner.png" alt="banner"></a>
      <hr class="block-separator">
      <div class="latest-blog clearfix">
        <div class="box-heading"><h3>Latest News</h3>
          <a href="blog-listing.html" class="all-blog right">View All</a>
        </div>
        <article class="grid_4">
          <div class="meta">
            <span class="date"><span class="day">07</span><span class="month">MAY</span></span>
            <div class="title"><h4>News Title</h4><span><a href="#">News</a>,<a href="#">Offers</a>,<a href="#">Bestsellers</a></span></div>
          </div>
          <a class="img-cover prettyphoto" href="/public/red/images/images/product-grid.jpg">
            <i class="icomoon" aria-hidden="true" data-icon="&#xe003;"></i>
            <img src="/public/red/images/images/latest-news.jpg" alt="news-image">
          </a>
          <div class="excerpt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>            
          </div>
          <a class="blog-link" href="#"><i class="icomoon" aria-hidden="true" data-icon="&#xe01a;"></i>Read More</a>
        </article>
        <article class="grid_4">
          <div class="meta">
            <span class="date"><span class="day">07</span><span class="month">MAY</span></span>
            <div class="title"><h4>News Title</h4><span><a href="#">News</a>,<a href="#">Offers</a>,<a href="#">Bestsellers</a></span></div>
          </div>
          <a class="img-cover prettyphoto" href="http://vimeo.com/24535181">
            <i class="icomoon" aria-hidden="true" data-icon="&#xe009;"></i>
            <img src="/public/red/images/images/latest-news.jpg" alt="news-image">
          </a>
          <div class="excerpt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>            
          </div>
          <a class="blog-link" href="#"><i class="icomoon" aria-hidden="true" data-icon="&#xe01a;"></i>Read More</a>
        </article>
        <article class="grid_4 omega">
          <div class="meta">
            <span class="date"><span class="day">07</span><span class="month">MAY</span></span>
            <div class="title"><h4>News Title</h4><span><a href="#">News</a>,<a href="#">Offers</a>,<a href="#">Bestsellers</a></span></div>
          </div>
          <a class="img-cover" href="#"><img src="/public/red/images/images/latest-news.jpg" alt="news-image"></a>
          <div class="excerpt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>            
          </div>
          <a class="blog-link" href="#"><i class="icomoon" aria-hidden="true" data-icon="&#xe01a;"></i>Read More</a>
        </article>
        </div><!-- end .latest-blog -->        
      </div><!-- end .container_12 -->
      <div class="base-info">
        <div class="container_12">
          <div class="info-block grid_4">
            <span class="icomoon" aria-hidden="true" data-icon="&#xe078;"></span>
            <div class="base-info-data">
              <h4>SAFE & SECURE</h4>
              <span>Consectetur adipisicing elit,</span>
            </div>
          </div>
          <div class="info-block grid_4">
            <span class="icomoon" aria-hidden="true" data-icon="&#x25df;"></span>
            <div class="base-info-data">
              <h4>SUPORT 24/7 </h4>
              <span class="phone-number">+213-123-456-7890</span>
            </div>
          </div>
          <div class="info-block grid_4 omega">            
            <span class="icomoon" aria-hidden="true" data-icon="&#xe06a;"></span>
            <div class="base-info-data">
              <h4>FREE SHIPPING</h4>
              <span>adipisicing elit, sed do eiusmod </span>
            </div>
          </div>
        </div>
      </div><!-- end .base-info -->
    </div><!-- end #main-container -->
{% endblock %}