<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>我的收藏</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/uc.css" rel="stylesheet"/>
</head>
<body>
    <!--头部-->
    <div class="topper">
        <div class="wrapper">
            <div class="left-bar">
                <div class="back-home divider">
                    <em></em><a href="index.html">商城首页</a>
                </div>
                <div class="item"><a href="">商家中心</a></div>
            </div>
            <div class="right-bar">
                <div class="login-user sub-menu">
                    <a class="menu-hd" href="">txtangxia<em></em></a>
                    <div class="down">
                        <a href="">内容</a>
                        <a href="">内容</a>
                        <a href="">内容</a>
                    </div>
                </div>
                <div class="item"><a href="">消息（<span class="txt-theme">0</span>）</a></div>
                <div class="logout divider"><a href="">退出</a></div>
                <span class=""></span>
                <div class="cart"><em></em><a href="">购物车<span class="txt-theme">2</span>件</a></div>
                <div class="order"><em></em><a href="">我的订单</a></div>
                <div class="fav"><em></em><a href="">我的收藏</a></div>
                <div class="help"><em></em><a href="">帮助中心</a></div>
            </div>
        </div>
    </div>
    <div class="uc-header-bg">
        <div class="uc-header wrapper">
            <a class="logo" href="index.html"><img src="img/logo2.png" alt="" /></a>
            <div class="back-home"><a href="">返回商城首页</a></div>
            <ul class="uc-nav">
                <li><a href="">首页</a></li>
                <li class="toggle">
                    <span class="label">账户设置<i class="iconfont"></i></span>
                    <div class="toggle-cont">
                        <a href="">个人信息</a>
                        <a href="">安全设置</a>
                        <a href="">收货地址</a>
                    </div>
                </li>
                <li><a href="">消息中心</a></li>
            </ul>
            <div class="schbox">
                <form action="">
                    <input class="search-txt" type="text" />
                    <button class="search-btn">搜索</button>
                    <div class="suggest-box">
                        <div class="item" data-title="上衣 短款 短袖">上衣 短款 短袖<div class="tags"><span>雪纺</span><span>蕾丝</span><span>一字领</span></div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="wrapper uc-router">
        <ul>
            <li><a href="">首页</a></li>
            <li><span class="divider"></span></li>
            <li><span>个人中心</span></li>
        </ul>
    </div>

    <div class="wrapper">
        <div class="uc-main clearfix">
            <div class="uc-aside">
                <div class="uc-menu">
                    <div class="tit">订单中心</div>
                    <ul class="sublist">
                        <li><a href="">我的订单</a></li>
                        <li><a class="active" href="">我的收藏</a></li>
                        <li><a href="">浏览历史</a></li>
                    </ul>
                    <div class="tit">客户服务</div>
                    <ul class="sublist">
                        <li><a href="">取消订单记录</a></li>
                        <li><a href="">退款/退货</a></li>
                    </ul>
                    <div class="tit">账户中心</div>
                    <ul class="sublist">
                        <li><a href="">账户信息</a></li>
                        <li><a href="">账户安全</a></li>
                        <li><a href="">消费记录</a></li>
                        <li><a href="">收货地址</a></li>
                    </ul>
                    <div class="tit">消息中心</div>
                    <ul class="sublist">
                        <li><a href="">商品评价</a></li>
                        <li><a href="">站内消息</a></li>
                    </ul>
                </div>
            </div>
            <div class="uc-content">
                <div class="uc-panel">
                    <div class="uc-bigtit">我的收藏</div>
                    <div class="uc-panel-bd">
                        <div class="uc-tabs">
                            <a class="item" href="uc-fav.html">我收藏的商品</a>
                            <a class="item active" href="uc-fav-shop.html">我收藏的店铺</a>
                        </div>
                        <div class="uc-bar">
                            <label class="check"><input type="checkbox" /><span class="ml10 mr10">全选</span></label><a href="" class="del iconfont icon-shanchu"></a>
                        </div>
                        <div class="fav-shop">
                            <div class="row">
                                <div class="s-info-col">
                                    <label class="check"><input type="checkbox" /></label>
                                    <div class="s-info">
                                        <a href=""><img class="s-logo" src="uploads/9.jpg" alt="" /></a>
                                        <div class="name"><a href="">韩都衣舍蔚然专</a></div>
                                        <a class="text-danger" href="">删除</a>
                                    </div>
                                </div>
                                <div class="s-goods">
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="s-info-col">
                                    <label class="check"><input type="checkbox" /></label>
                                    <div class="s-info">
                                        <a href=""><img class="s-logo" src="uploads/9.jpg" alt="" /></a>
                                        <div class="name"><a href="">韩都衣舍蔚然专</a></div>
                                        <a class="text-danger" href="">删除</a>
                                    </div>
                                </div>
                                <div class="s-goods">
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="s-info-col">
                                    <label class="check"><input type="checkbox" /></label>
                                    <div class="s-info">
                                        <a href=""><img class="s-logo" src="uploads/9.jpg" alt="" /></a>
                                        <div class="name"><a href="">韩都衣舍蔚然专</a></div>
                                        <a class="text-danger" href="">删除</a>
                                    </div>
                                </div>
                                <div class="s-goods">
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="uploads/2.jpg" alt="" /></a>
                                        <div class="info"><span class="price">¥75.00</span><span class="sale">销量0</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pages">
                            <a class="page prev" href="">上一页</a>
                            <a class="page" href="">1</a>
                            <span class="cur-page">2</span>
                            <a class="page" href="">3</a>
                            <a class="page" href="">4</a>
                            <i class="page-split">...</i>
                            <a class="page" href="">71</a>
                            <a class="page next" href="">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--脚部-->
    <div class="fatfooter">

    </div>
    <!--脚部-->
</body>
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="js/icheck/style.css"/>
<script src="js/icheck/icheck.min.js"></script>
<script src="js/global.js"></script>
<script>
$(function () {
    $('.check input').iCheck({
            checkboxClass: 'sty1-checkbox'
        });
});
</script>
</html>